mcp/site.db

server/software/credentials/
server/software/mcp/env
node_modules/

master-control-program.service
web/include/WA_API_KEY
vista/DOOR_CODE
logs/
lcd/.build
*.pyc
*.swp
*.pyc
*.swo
*.swn
*.s#*
*.b#*
*.brd.lck
*.sch.lck
.cli_history
*.gitignore

vscode.code-workspace/*
vscode.code-workspace
server/software/npm-debug.log
server/software/plugins/mcp-plugin-google-drive-backup/
server/software/plugins/mcp-plugin-super-serial/

*.x
