{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
        <form class="form form-horizontal" method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                {% for field in form %}
                    <!-- {{ field.type }} -->
                    {% if field.type=='StringField' %}
                        <div class="form-row">
                            {{ field.label(class="form-control-label-sm col-md-2") }}
                            {% if field.errors %}
                                {{ field(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <span class="float-right col-md-10 pl-1">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field(class="form-control form-control-sm col-md-10") }}
                            {% endif %}
                        </div>                    
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field(class="form-control form-control-sm col-md-10") }}
                            {% endif %}
                        </div>

                    {% elif field.type=='FileField' %}
                        <div class="form-row">
                            {{ field.label(class="form-control-label-sm col-md-2") }}
                            {{ field(class="") }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>

                    {% elif field.type=='SubmitField' %}
                        <div class="form-row my-4">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    {% elif field.type=='CSRFTokenField' %}
                    {% endif %}
                {% endfor %}
            </fieldset>
        </form>
    </div>
{% endblock content %}
