body{
	padding: 0.5em;
	text-align: center;
}

h1 img {
	max-width: 100%;
}

.user-details th, .user-details td  {
	width: 50%;
}

.user-details th {
	text-align: right;
}

.user-details td {
	text-align: left;
}

#status-header {
	position: absolute;
	top: 0;
}

.login-form {
	margin: auto;
	max-width: 500px;
	text-align: center;
}

th, td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

tbody>tr:first-child>td {
	padding-top: 1em;
}

tbody>tr:last-child>td {
	padding-bottom: 1em;
}

.client-plugin-actions {
	padding-top: 1em;
}

.masonry-brick {
	text-align: center;
	width: 25em;
	margin: 1em;
}

.masonry-brick>table{
	width: 100%;
}

#message-log {
	position: fixed;
	left: 0;
	bottom: 0em;
	width: 100%;
	background: #000;
	z-index: 999;
	text-align: left;
	padding: 0.25em;
}

#message-log .error{
	color: #f44;
}

#message-log .debug{
	color: #ff0;
}

#message-log {
	color: #fff;
}

#message-log .message-list {
	max-height: 10em;
	overflow-y: auto;
}

#message-log .message {
	font-family: monospace;
	white-space: pre;
}
