body{
	padding: 0.5em;
	text-align: center;
	overflow-y: scroll;
}

.authorizationName {
	cursor: default;
	margin-right: 0.75em;
}

.groups-table>.row:first-child {
	background-color: #3e444c;

}

.groups-table>.row {
	padding-top: .75em;
	padding-bottom: .75em;
	border-bottom: 1px solid #49515a;
}

.groups-table>.row:hover:nth-child(n+2) {
	background-color: #49515a;
}

.header {
	height: 200px;
	background:url(/images/logo-header.svg);
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1em;
}

#status-header {
	position: absolute;
	top: 0;
	right: 0.5em;
}

.user-details th, .user-details td  {
	width: 50%;
}

.user-details th {
	text-align: right;
}

table td {
	text-align: left;
}

.login-form {
	margin: auto;
	max-width: 500px;
	text-align: center;
}

th, td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

tbody>tr:first-child>td {
	padding-top: 1em;
}

#message-log {
	position: fixed;
	left: 0;
	bottom: 0em;
	width: 100%;
	background: #000;
	z-index: 999;
	text-align: left;
	padding: 0.25em;
}

#message-log .error{
	color: #f44;
}

#message-log .debug{
	color: #ff0;
}

#message-log {
	color: #fff;
}

#message-log .message-list {
	max-height: 10em;
	overflow-y: auto;
}

#message-log .message {
	font-family: monospace;
	white-space: pre;
}

table#activity-log td{
	text-align: left;
}

table.clientActionParameters {
	margin: 0;
}

.card {
	width: 25em;
	float: left;
	margin: 0.5em;
}

.actions {
}

.actions button {
	width: 45%;
	margin: 2%;
}

.nopad {
	padding: 0;
	margin: 0;
}
