<div ng-if="!properties.parameters || properties.parameters.length == 0">
	<button class="btn btn-default btn-sm" style="width: 100%" ng-click="execute()">{{properties.name}}</button>
</div>
<div ng-if="properties.parameters && properties.parameters.length > 0">
	<div simple-toggle class="btn btn-primary btn-sm" style="width: 100%; position: relative;" ng-model="isOpened">
		<div class="glyphicon glyphicon-triangle-{{isOpened ? 'bottom' : 'left'}}" style="position: absolute; right: 0.25em; top: 25%"></div>
		{{properties.name}}
	</div>
	<div class="container-fluid" uib-collapse="!isOpened">
		<div class="row" ng-repeat="parameter in properties.parameters">
			<div class="col-md-4 col-sm-4 nopad">{{parameter.name}}</div>
			<div class="col-md-8 col-sm-8 nopad"><input class="form-control input-sm" ng-model="parameter.value"/></div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 nopad" style="margin-bottom: 1em;">
				<button class="btn btn-default btn-sm" style="width: 100%" ng-click="execute()">{{properties.name}}</button>
			</div>
		</div>
	</div>
</div>
