<div class="container-fluid">
	<div class="row">
		<div class="col-md-11 col-sm-11 col-xs-11 nopad">
			<button class="btn btn-default btn-sm" style="width: 100%" ng-click="execute()">{{properties.name}}</button>
		</div>
		<div ng-if="properties.parameters && properties.parameters.length > 0" class="col-md-1 col-sm-1 col-xs-1 nopad">
			<button simple-toggle class="btn btn-default btn-sm" ng-model="$parent.isOpened">
				<span class="glyphicon glyphicon-triangle-{{isOpened ? 'bottom' : 'left'}}" style="font-size: 80%"></span>
			</button>
		</div>
	</div>
	<div uib-collapse="!isOpened" style="margin-bottom: 1em">
		<div class="row" ng-repeat="parameter in properties.parameters">
			<div class="col-md-4 col-sm-4 nopad">{{parameter.name}}</div>
			<div class="col-md-7 col-sm-7 nopad">
				<input class="form-control input-sm" ng-model="parameter.value" ng-trim="false"/>
			</div>
		</div>
	</div>
</div>
