<h2>Clients</h2>
<div ng-repeat="client in clients" class="card well container-fluid" >
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<span simple-toggle class="btn btn-default btn-sm pull-right" ng-model="isOpened" title="Settings">⚙</span>
			<span class="btn btn-default text-danger btn-sm pull-right" ng-if="isOpened" title="Remove client" ng-click="removeClient(client)">✖</span>
			<h4 class="pull-left" ng-click="isOpened = !isOpened">{{client.name}}</h4>
		</div>
	</div>
	<div uib-collapse="!isOpened" style="clear: both">
		<div class="row">
			<div class="col-md-4 col-sm-4 nopad">ID</div>
			<div class="col-md-8 col-sm-8"><input class="form-control input-sm" type="text" ng-model="client.clientID" ng-model-options="{debounce: 1500}" ng-change="updateClient(client)"/></div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 nopad">Name</div>
			<div class="col-md-8 col-sm-8"><input class="form-control input-sm" type="text" ng-model="client.name"  ng-model-options="{debounce: 1500}" ng-change="updateClient(client)"/></div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 nopad">Add plugin</div>
			<div class="col-md-8 col-sm-8">
				<select class="form-control input-sm" ng-change="createClientPluginAssociation(client)" ng-model="client.newPlugin">
					<option disabled selected hidden value=""> - Available plugins - </option>
					<option ng-repeat="plugin in clientPlugins"
						value="{{plugin.name}}"
						ng-if="client.plugins[plugin.name] == null"
					>{{plugin.name}}</option>
				</select>
			</div>
		</div>
		<br/>
	</div>
	<div ng-repeat="plugin in client.plugins" style="margin-bottom: 1em; background-color: #333; padding: 0.25em; padding-top: 0; border-radius: 0.25em">
		<div class="row" style="margin-top: 0.5em; padding: 0.25em 0 0.25em;">
			<div class="col-md-12 col-sm-12" style="text-align: left;">
				<button class="btn btn-default btn-sm pull-right" simple-toggle ng-model="z.isOpened" title="Settings">⚙</button>
				<button class="btn btn-default text-warning btn-sm pull-right" disabled="disabled" ng-if="z.isOpened" title="Reload defaults" onclick="alert('Not implemented :(')">↺</button>
				<button class="btn btn-default text-danger btn-sm pull-right" ng-if="z.isOpened" title="Remove {{plugin.name}} plugin from {{client.name}}" ng-click="disassociatePlugin(client, plugin)">✖</button>
				<div style="font-weight: bold; margin-left: .5em">{{plugin.name}}</div>
			</div>
		</div>
		<div uib-collapse="!z.isOpened" style="margin-bottom: 0.75em">
			<div class="row" ng-repeat="option in plugin.options">
				<div class="col-md-5 col-sm-5">{{option.name}}</div>
				<div ng-if="option.type != 'tune'" class="col-md-7 col-sm-7">
					<input class="form-control input-sm" type="text" ng-model="option.value" ng-change="saveClientPluginOption(client, plugin, option)" ng-model-options="{debounce: 1500}" ng-trim="false"/>
				</div>
				<div ng-if="option.type == 'tune'">
					<div class="col-md-6 col-sm-6">
						<input class="form-control input-sm" type="text" ng-model="option.value" ng-change="saveClientPluginOption(client, plugin, option)" ng-model-options="{debounce: 1500}" ng-trim="false"/>
					</div>
					<div class="col-md-1 col-sm-1">
						<button class="btn btn-sm btn-default" ng-click="playTune(option.value)">&gt;</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-repeat="action in plugin.actions">
			<action-with-parameters properties="action" execute="doClientPluginAction(client, plugin, action)"/>
		</div>
	</div>
</div>
