<div class="container-fluid">
	<div class="row">
		<div class="col-md-9 col-xs-9 nopad" uib-dropdown>
			<button type="button" class="btn btn-default btn-block btn-sm" style="min-width: 10em;" uib-dropdown-toggle>
				<div class="pull-right">&nbsp;<span class="caret"></span></div>
				{{job.action.name}}
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu style="width:100%">
				<li ng-repeat="action in $parent.pluginActions" ng-click="$parent.$parent.setJobAction($parent.$parent.job, action)">
					<a href="#">{{action.plugin.name}}: {{action.name}}</a>
				</li>
				<li class="divider"></li>
				<li ng-repeat="action in $parent.clientActions" ng-click="$parent.$parent.setJobAction($parent.$parent.job, action)">
					<a>{{action.client.name}}: {{action.name}}</a>
				</li>
			</ul>
		</div>
		<div class="col-md-2 col-xs-2 nopad">
			<button toggle class="btn btn-default btn-block btn-sm" ng-disabled="!job.action.parameters || job.action.parameters.length == 0" ng-model="isOpened" title="Settings">⚙</button>
		</div>
	</div>

	<table class="table table-condensed" uib-collapse="!isOpened">
		<tr ng-repeat="parameter in job.action.parameters">
			<td>{{parameter.name}}</td>
			<td><input ng-model="parameter.value"/></td>
		</tr>
	</table>
</div>
