<h2>Scheduled Jobs</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
		<th>&nbsp;</th>
		<th>Description</th>
		<th>Cron</th>
		<th>Action</th>
		<th>&nbsp;</th>
	</tr><tr ng-if="scheduledJobs.length == 0 || (scheduledJobs.length == 1 && !scheduleJobs[0].jobID)">
		<td>&nbsp;</td>
		<td colspan="4">No jobs have been scheduled</td>
	</tr><tr ng-repeat="job in scheduledJobs">
		<td>
			<button ng-if="job.jobID" class="btn btn-sm btn-block btn-{{job.enabled?'success':'danger'}}" ng-click="toggleJob(job)">
				{{job.enabled ? '✓ Enabled' : '✘ Disabled'}}
			</button>
			<span ng-if="!job.jobID">New</span>
		</td>
		<td><input type="text" ng-model="job.description" placeholder="Enter a job name"/></td>
		<td><input type="text" ng-model="job.cron" placeholder="Enter a cron schedule"/></td>
		<td><job-action-selector job="job" /></td>
		<td>
			<div class="btn-group" ng-if="job.jobID">
				<button ng-if="job.jobID" class="btn btn-default btn-sm" ng-click="saveJob(job)">Save</button>
				<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="isOpened">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-click="deleteJob(job)"><a class="dropdown-item" href="#">Delete</a></li>
				</ul>
			</div>
			<button ng-if="!job.jobID" class="btn btn-default btn-block btn-sm" ng-click="createJob(job)">Create</button>
		</td>
	</tr>
</table>
