<h2>
	Users
	<button class="btn btn-default btn-sm" ng-click="newUser.isExpanded = !newUser.isExpanded" title="Add new user">
		{{newUser.isExpanded?'&minus;':'+'}}
	</button>
</h2>
<div uib-collapse="!newUser.isExpanded">
	<p>Sorry, friend. This feature has been disabled because too many users are manually added with an incorrect email address.</p>
	<p>Please ask the member to sign up properly <a href="http://makeict.org/join" target="_blank">makeict.org/join</a>.</p>
	<p>New users will show up after a manual sync or the nightly sync which runs automatically.</p>
	<!--
	<h4><a href="mailto:{{user.email}}">{{user.email}}</a></h4>
	<form>
		<table class="table table-striped user-details">
			<tr>
				<th>Email</th>
				<td><input class="form-control input-sm" type="email" ng-model="newUser.email"></td>
			</tr><tr>
				<th>First Name</th>
				<td><input class="form-control input-sm" type="text" ng-model="newUser.firstName"></td>
			</tr><tr>
				<th>Last Name</th>
				<td><input class="form-control input-sm" type="text" ng-model="newUser.lastName"></td>
			</tr><tr>
				<th>Join Date</th>
				<td>
					<input
						type="text"
						style="text-align: center"
						class="form-control input-sm"
						uib-datepicker-popup="yyyy MMMM dd"
						ng-model="newUser.joinDate"
						is-open="joinDateOpen"
						ng-focus="joinDateOpen=true"
					/>
				</td>
			</tr>
		</table>
		<button class="btn btn-link btn-sm" ng-click="resetNewUser()">Reset</button>
		<button class="btn btn-primary btn-sm" ng-click="saveNewUser()">Save</button>
	</form>
	-->
</div>
<input id="userSearchBox" autofocus placeholder="Enter search terms" type="text" class="form-control input-sm" ng-model="search.query" ng-change="searchForUser()" ng-model-options="{debounce: 1500}"/>
<h3 ng-if="userSearchResults === null">⌛ Searching...</h3>
<h3 ng-if="userSearchResults && userSearchResults.length == 0">No search results</h3>
<div ng-if="userSearchResults && userSearchResults.length > 0" class="container-fluid">
	<h3>Search results</h3>
	<div ng-repeat="user in userSearchResults" class="col-lg-4 col-md-6 col-sm-6 well">
		<button class="btn btn-default btn-block" ng-click="toggleUserDisplay(user)">{{user.firstName}} {{user.lastName}}</button>
		<div ng-if="user.stale" class="container-fluid user-details">
			This user's information is stale. You should <a href="#" ng-click="searchForUser()">reload</a> the page.
		</div>
		<div uib-collapse="!user.isExpanded || user.stale" class="container-fluid user-details">
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Name</strong></div>
				<div class="col-md-4 col-sm-4 nopad">
					<input type="text" ng-model="user.firstName" ng-change="saveUserName(user)" ng-model-options="{debounce: 1500}" class="form-control input-sm" />
				</div>
				<div class="col-md-4 col-sm-4 nopad">
					<input type="text" ng-model="user.lastName" ng-change="saveUserName(user)" ng-model-options="{debounce: 1500}" class="form-control input-sm" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Email</strong></div>
				<div class="col-md-8 col-sm-8 nopad"><input type="text" ng-model="user.email" ng-change="saveUserEmail(user)" ng-model-options="{debounce: 1500}" class="form-control input-sm" /></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Status</strong></div>
				<div class="col-md-8 col-sm-8 nopad"><button class="btn btn-default btn-sm btn-block {{user.status == 'active' ? '':'btn-warning'}}" ng-click="toggleUserStatus(user)">{{user.status == 'active' ? '✓ Active':'✘ Inactive'}}</button></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Join date</strong></div>
				<div class="col-md-8 col-sm-8 nopad">
					<input
						type="text"
						style="text-align: center"
						class="form-control input-sm"
						uib-datepicker-popup="yyyy MMMM dd"
						ng-model="user.joinDate"
						is-open="joinDateOpen"
						ng-focus="joinDateOpen=true"
						ng-change="saveUserJoinDate(user)"
						ng-disabled="user.joinDateSaving"
					/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Birthday</strong></div>
				<div class="col-md-8 col-sm-8 nopad">
					<input
						type="text"
						style="text-align: center"
						class="form-control input-sm"
						uib-datepicker-popup="yyyy MMMM dd"
						ng-model="user.birthdate"
						is-open="birthdateOpen"
						ng-focus="birthdateOpen=true"
						ng-change="saveUserBirthdate(user)"
						ng-disabled="user.birthdateSaving"
					/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Key</strong></div>
				<div class="col-md-8 col-sm-8">
					<div class="row">
						<div ng-if="user.keyActive" class="col-md-12 col-sm-12 input-group">
							<div class="btn btn-default btn-sm btn-block">{{user.nfcID}}</div>
							<div class="input-group-btn">
								<div class="btn btn-addon btn-danger btn-sm" ng-click="toggleKeyEnrollment(user)">✘</div>
							</div>
						</div>
						<div ng-if="!user.keyActive">
							<div type="button" class="btn btn-default btn-block btn-sm btn-warning" ng-click="toggleKeyEnrollment(user)">✘ Not enrolled</div>
						</div>
					</div>
					<table class="table" ng-if="nfcLog && nfcLog.length > 0">
						<tr>
							<th colspan="2">Recent rejections:</th>
						</tr>
						<tr ng-repeat="log in nfcLog">
							<td>{{log.timestamp|timestampToHumanReadableDate:true}}</td>
							<td><button class="btn btn-sm btn-default" ng-click="enrollUser(user, log.code)">{{log.code}}</button></td>
						</tr>
					</table>
					<div ng-if="nfcLog && nfcLog.length == 0">
						No unassigned scans are available.
					</div>
					<table class="table" ng-if="user.nfcHistory && user.nfcHistory.length > 0">
						<tr>
							<th colspan="2">Past NFC assignments:</th>
						</tr>
						<tr ng-repeat="log in user.nfcHistory">
							<td>{{log.timestamp|timestampToHumanReadableDate:true}}</td>
							<td><button class="btn btn-sm btn-default" ng-click="enrollUser(user, log.code)">{{log.code}}</button></td>
						</tr>
					</table>
					<div ng-if="user.nfcHistory && user.nfcHistory.length == 0">
						User has no NFC assignment history.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Groups</strong></div>
				<div class="col-md-8 col-sm-8">
					<div class="row" ng-repeat="group in joinedGroups = (user.groups|filter:{'enrolled':true}|orderBy:'name')">
						<div class="input-group col-md-12 col-sm-12">
							<div class="input-group-btn">
								<div class="btn btn-danger btn-xs" ng-click="setGroupEnrollment(user, group.name, false)">✘</div>
							</div>
							<div class="btn btn-default btn-xs btn-block">{{group.name}}</div>
						</div>
					</div>
					<div ng-if="joinedGroups.length==0" class="text-center">No groups</div>
					<div class="row">
						<span uib-dropdown title="Add a group" class="col-md-12 col-sm-12 nopad">
							<button uib-dropdown-toggle class="btn btn-default dropdown-toggle btn-xs btn-block">+ Add group</button>
							<ul uib-dropdown-menu class="dropdown-menu">
								<li ng-repeat="group in unjoinedGroups = (user.groups|filter:{'enrolled':false}|orderBy:'name')" ng-click="setGroupEnrollment(user, group.name, true)">
									<a>{{group.name}}</a>
								</li>
								<li ng-if="unjoinedGroups.length == 0"><a>None to add!</a></li>
							</ul>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>Pasword</strong></div>
				<div class="col-md-8 col-sm-8 nopad">
					<input type="password" placeholder="New password" class="form-control input-sm"  ng-change="resetPassword(user)" ng-model-options="{debounce: 1500}" ng-model="user.password" ng-trim="false"/>
					<span ng-if="user.passwordSaved" class="glyphicon glyphicon-glyphicon glyphicon-ok" aria-hidden="true"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4"><strong>&#x1f34a;Sync™</strong></div>
				<button class="col-md-4 col-sm-4 nopad btn btn-default" ng-click="downSync(user)" title="Download this user's groups from WildApricot">Download</button>
				<button class="col-md-4 col-sm-4 nopad btn btn-default" ng-click="upSync(user)" title="Upload this user's groups to WildApricot">Upload</button>
			</div>
		</div>
	</div>
</div>
